* { margin: 0; }

body {
    font-family: helvetica;
    background-color: #222;
    color: #fff;


header {
    background-color: #4e5deb;
    padding: 15px;
    display: grid;
}

header h1 { margin-left: 2em; }

#content {
    display: flex;
    flex-wrap: wrap;
}




