* { margin: 0; }

body {
    font-family: helvetica;
    background-color: #290000;
    color: #fff;
    }


header {
    background-color: #360d0d;
    padding: 15px;
    display: grid;
}

header h1 { margin-left: 2em; }

#pages {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pages ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#pages li {
    margin-left: 2em;
    font-size: 24px;
}

#home, #mods{
    display: flex;
    flex-wrap: wrap;
}

#home article, #mods {
    background-color: #300f0f;
    border-radius: 18px;
    width: 48%;
    margin: 0.4%;
    padding: 0.5%;

}






